In [1]:
import pandas as pd

In [3]:
dataset = pd.read_csv(r"C:\Users\Bhakti Gajipara\OneDrive\Documents\machine learing\HousingData.csv")
dataset.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [13]:
dataset

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,NaN,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,NaN,2.5050,1,273,21.0,396.90,7.88,11.9

# test train data set

In [8]:
input_data = dataset.iloc[:,:-1]
input_data
output_data = dataset["MEDV"]

from sklearn.model_selection import train_test_split

In [10]:
x_train, x_test, y_train, y_test = train_test_split(input_data,output_data,test_size=0.25)

In [11]:
x_train

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
444,12.80230,0.0,18.10,0.0,0.7400,5.854,96.6,1.8956,24,666,20.2,240.52,23.79
299,0.05561,70.0,2.24,0.0,0.4000,7.041,10.0,7.8278,5,358,14.8,371.58,4.74
58,0.15445,25.0,5.13,0.0,0.4530,6.145,29.2,7.8148,8,284,19.7,390.68,6.86
192,NaN,45.0,3.44,0.0,0.4370,7.178,26.3,6.4798,5,398,15.2,390.49,2.87
250,0.14030,22.0,5.86,0.0,0.4310,6.487,13.0,7.3967,7,330,19.1,396.28,5.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,0.44791,0.0,6.20,1.0,0.5070,6.726,66.5,3.6519,8,307,17.4,360.20,8.05
498,0.23912,0.0,9.69,0.0,0.5850,6.019,65.3,2.4091,6,391,19.2,396.90,12.92
197,0.04666,80.0,1.52,0.0,0.4040,7.107,36.6,7.3090,2,329,12.6,354.31,8.61
280,0.03578,20.0,3.33,0.0,0.4429,7.820,64.5,4.6947,5,216,14.9,387.31,3.76
62,0.11027,25.0,5.13,0.0,0.4530,6.456,67.8,7.2255,8,284,19.7,396.90,6.73

In [12]:
x_test

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
479,14.33370,0.0,18.10,NaN,0.614,6.229,88.0,1.9512,24,666,20.2,383.32,13.11
131,1.19294,0.0,21.89,0.0,0.624,6.326,97.7,2.2710,4,437,21.2,396.90,12.26
199,0.03150,95.0,1.47,0.0,0.403,6.975,15.3,7.6534,3,402,17.0,396.90,4.56
496,0.28960,0.0,9.69,0.0,0.585,5.390,72.9,2.7986,6,391,19.2,396.90,21.14
80,0.04113,25.0,4.86,0.0,0.426,6.727,33.5,5.4007,4,281,19.0,396.90,5.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,1.83377,0.0,19.58,1.0,0.605,7.802,98.2,2.0407,5,403,14.7,389.61,1.92
346,0.06162,0.0,4.39,0.0,0.442,5.898,52.3,8.0136,3,352,18.8,364.61,12.67
413,28.65580,0.0,18.10,0.0,0.597,5.155,100.0,1.5894,24,666,20.2,210.97,20.08
185,0.06047,0.0,2.46,0.0,0.488,6.153,68.8,3.2797,3,193,17.8,387.11,13.15
73,0.19539,0.0,10.81,0.0,0.413,6.245,6.2,5.2873,4,305,19.2,377.17,NaN

In [14]:
y_train

444    10.8
299    29.0
58     23.3
192    36.4
250    24.4
       ...
234    29.0
498    21.2
197    30.3
280    45.4
62     22.2
Name: MEDV, Length: 379, dtype: float64

In [15]:
y_test

479    21.4
131    19.6
199    34.9
496    19.7
80     28.0
       ...
162    50.0
346    17.2
413    16.3
185    29.6
73     23.4
Name: MEDV, Length: 127, dtype: float64